@page
@model MadisonCountyCollaborationApplication.Pages.Dataset.DatasetLandingModel



<div class="text-center">
    <h1 class="display-4">View Datasets</h1>
</div>
<div class="row">
    <div class="col-md-9">
        @* showing all datasets *@
        <form asp-page-handler="Select" method="post" id="dataForm">
            <input type="hidden" name="DatasetID" id="dataIdInput" value="" />
            <div class="box-table">
                @{
                    foreach (var prod in Model.DatasetList)
                    {
                        <div class="card" data-collab-id="@prod.ID" onclick="selectDataset(@prod.ID)">
                            <div class="card-header">
                                @prod.Name
                            </div>
                        </div>
                    }
                }
            </div>
        </form>

        @section Scripts {
            <script>
                function selectDataset(dataId) {
                    // Set the value of the hidden input to the dataset ID
                    document.getElementById('dataIdInput').value = dataId;
                    // Submit the form
                    document.getElementById('dataForm').submit();
                }
            </script>
        }
        <br />
        <div class="row">
            <div class="col-md-6">
                @* allowing to add dataset *@
                <form method="post" enctype="multipart/form-data" asp-action="FileUpload">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input asp-for="FileList" type="file" multiple class="btn btn-primary" />
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Upload File(s)" class="btn btn-primary" />
                        </div>
                    </div>
                </form>

            </div>
            
        </div>
    </div>

    
</div>


@* <div class="datasets"
<ul>
    @{
        foreach (var dataset in Model.DatasetList)
        {
            <li> <a asp-page="ViewData" asp-route-datasetID="@dataset.ID">@dataset.Name</a> </li>
        }
    }
</ul>
 *@