@page
@model MadisonCountyCollaborationApplication.Pages.Dataset.RegressionOutputModel
@{
    var regressionSuccessful = Model.Slopes.Zip(Model.PValues.Skip(1), (slope, pValue) => pValue <= Model.Aplha).All(x => x); // Assuming Model.Alpha is the significance level (commonly 0.05)
}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<style>
    .custom-curved-box {
        border-radius: 15px;
    }

    .results-section, .regression-equation {
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 10px;
        background-color: #f8f9fa;
    }

    .card-title {
        font-weight: bold;
    }

    .significant {
        color: #28a745; /* Success color for significant values */
    }

    .not-significant {
        color: #dc3545; /* Danger color for non-significant values */
    }
</style>
@* breadcrum navigation *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="../Home">Home</a></li>
        <li class="breadcrumb-item"><a asp-page="../Process/Index">@Model.ProcessName</a></li>
        <li class="breadcrumb-item"><a asp-page="ViewData" asp-route-datasetID="@Model.datasetID">@Model.DatasetName</a></li>
        <li class="breadcrumb-item"><a asp-page="MultiRegression">Multi Regression</a></li>
        <li class="breadcrumb-item active" aria-current="page">Regression Output</li>
    </ol>
</nav>

<div class="container mt-4">
    <!-- Regression Success/Failure Notification -->
    <div class="alert @(regressionSuccessful ? "alert-success" : "alert-danger")" role="alert">
        <strong>@(regressionSuccessful ? "Regression Successful" : "Regression Not Successful")</strong>
    </div>

    <!-- What-If Scenario Analysis -->
    <div class="card bg-primary text-white custom-curved-box mb-3">
        <div class="card-body">
            <h4 class="card-title">What-If Scenario Analysis</h4>
            <p>Enter values below to see a predicted outcome based on your data.</p>
            <!-- Your existing What-If form here -->
            <form method="post" asp-page-handler="CalculateWhatIfScenario">
                <input type="hidden" asp-for="Intercept" />
                @for (int i = 0; i < @Model.Slopes.Count; i++)
                {
                    <input type="hidden" name="Slopes[@i]" value="@Model.Slopes[i]" />
                }
                @for (int i = 0; i < Model.IndependentVariables.Count; i++)
                {
                    <div class="mb-3">
                        <label class="form-label">@Model.IndependentVariables[i].TrimStart('_').Replace("_", " "):</label>
                        <input type="number" class="form-control" placeholder="Enter a value for @Model.IndependentVariables[i].TrimStart('_').Replace("_", " ")." name="WhatIfInputs[@i]" />
                        @* <small class="form-text text-dark">Enter a value for @Model.IndependentVariables[i].Replace("_", " ").TrimStart('_').</small> *@
                    </div>
                }
                <button type="submit" class="btn btn-outline-primary rounded shadow-sm text-dark bg-white">Calculate What-If Scenario</button>
            </form>
        </div>
    </div>
    <!-- Button to toggle Regression Equation and Results -->
    <button class="btn btn-info mb-2" type="button" data-toggle="collapse" data-target="#regressionDetails" aria-expanded="false" aria-controls="regressionDetails">
        Show Regression Details
    </button>

    <!-- Collapsible Regression Equation and Results -->
    <div class="collapse" id="regressionDetails">
        <div class="regression-equation mb-4">
            <h3>Regression Equation</h3>
            @if (!string.IsNullOrEmpty(Model.DependentVariable) && Model.Intercept.HasValue && Model.Slopes != null && Model.IndependentVariables != null)
            {
                <p>@Model.DependentVariable.TrimStart('_').Replace("_", " ") = @string.Format("{0:#,0.000}", Model.Intercept) @(String.Join(" ", Model.Slopes.Select((s, index) => $"{(s >= 0 ? "+" : "-")} {Math.Abs(s):#,0.0000} * ({Model.IndependentVariables[index].TrimStart('_').Replace("_", " ")})")))</p>
            }
            else
            {
                <p>Regression equation data is not available.</p>
            }
        </div>

        <div class="results-section mb-4">

            <h3>Regression Results</h3>
            <ul>
                <li>
                    <strong>Intercept:</strong> @string.Format("{0:#,0.000}", Model.Intercept)
                    <ul>
                        <li>
                            Standard Error: @string.Format("{0:#,0.000}", Model.StandardErrors[0])
                        </li>
                        <li>
                            P-value:  @{
                                if (Model.PValues[0] <= Model.Aplha)
                                {
                                    <text><span class="significant">@string.Format("{0:#,0.000}", Model.PValues[0]) </span><strong class="significant">Significant</strong></text>
                                }
                                else
                                {
                                    <text><span class="not-significant">@string.Format("{0:#,0.000}", Model.PValues[0]) </span><strong class="not-significant">Not Significant</strong></text>

                                }
                            }
                        </li>
                    </ul>
                </li>
                @for (int i = 0; i < Model.IndependentVariables.Count; i++)
                {
                    <li>
                        <strong>@Model.IndependentVariables[i].Replace("_", " ").TrimStart('_'):</strong>
                        <ul>
                            <li>
                                <strong>Slope:</strong> @string.Format("{0:#,0.0000}", Model.Slopes[i])
                            </li>
                            <li>
                                Standard Error: @string.Format("{0:#,0.000}", Model.StandardErrors[i + 1]) <!-- Intercept is at index 0 -->
                            </li>
                            <li>
                                P-value:  @{
                                    if (Model.PValues[i + 1] <= Model.Aplha)
                                    {
                                        <text><span class="significant">@string.Format("{0:#,0.000}", Model.PValues[i + 1]) </span><strong class="significant">Significant</strong></text>
                                    }
                                    else
                                    {
                                        <text><span class="not-significant">@string.Format("{0:#,0.000}", Model.PValues[i + 1]) </span><strong class="not-significant">Not Significant</strong></text>

                                    }
                                }
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>

    <!-- Your existing Regression Simulation form here -->
    <form asp-page-handler="Simulate" method="post">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Regression Simulation</button>
        </div>
    </form>
</div>