@page
@model MadisonCountyCollaborationApplication.Pages.Collaboration.CollaborationLandingModel
@{
}
<div class="row">
    <div class="col-md-3">
        @* adding new message *@
        <form asp-page="CollaborationLanding" asp-page-handler="Message">
            <input class="btn btn-primary" type="submit" value="Collab Message">
        </form>
        <br />
        @* adding user to collab *@
        <form asp-page="CollaborationLanding" asp-page-handler="AddUsers" method="post">
            <input type="hidden" asp-for="@Model.CollabID" value="@Model.CollabID" />
            <button type="submit" class="btn btn-primary">Add Users to Collaboration</button>
        </form>


        <br />
        @* Knowledge Items *@
        <form asp-page="CollaborationLanding" asp-page-handler="Knowledge">
            <input type="submit" value="Knowledge Items" class="btn btn-primary" />
        </form>
        <br />
        @* Datasets *@
        <form asp-page="CollaborationLanding" asp-page-handler="Datasets">
            <input type="submit" value="Datasets" class="btn btn-primary" />
        </form>
        <br />
        <form asp-page="CollaborationLanding" asp-page-handler="AddPlan">
            <input type="submit" value="Add Plan" class="btn btn-primary" />
        </form>
        <br />
        @* Generate Report *@
        <form asp-page="CollaborationLanding" asp-page-handler="GenerateReport" method="post">
            <input type="submit" value="Generate Report" class="btn btn-primary" />
        </form>
    </div>

    <div class="col-md-9">
        @* plan tables  *@
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Description:</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var prod in Model.PlansList)
                    {
                        <tr>
                            <td>
                                <form method="post" style="display:inline;">
                                    <input type="hidden" name="planID" value="@prod.planID" />
                                    <button type="submit" class="plan-name-btn">@prod.planName</button>
                                </form>
                            </td>
                            <td>@prod.planDesc</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
